<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForTony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForTony.Properties.Settings>
            <setting name="BlackListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CleanDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </ForTony.Properties.Settings>
    </userSettings>
</configuration>